<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adote+</title>
</head>
<body>
    <h1>Cadastro de Pets</h1>
    <legend></legend>
    <form action="/show" method="post">
        <label for="nome">Nome do Pet</label>
        <input type="text" placeholder="Insira o nome do Pet" name="nome">
        <label for="especie">Espécie</label>
        <input type="text" placeholder="Insira a espécie" name="especie">
        <label for="data_nascimento">Data de Nascimento</label>
        <input type="date" placeholder="__/__/__" name="data_nascimento">
        <label for="descricao">Descrição</label>
        <input type="text" placeholder="Brincalhão, dócil, agitado, carinhoso, etc..." name="descricao">

        <input type="hidden" name="status" value="disponivel">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>